VITE_FIREBASE_API_KEY=AIzaSyDx-kTmIuI53ekqab4Q3bYoqwPJBOs_sKo
VITE_FIREBASE_AUTH_DOMAIN=joinmeout-38494.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=joinmeout-38494
VITE_FIREBASE_STORAGE_BUCKET=joinmeout-38494.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1025704693654
VITE_FIREBASE_APP_ID=1:1025704693654:web:411813d8447a8c6e5657b7
 measurementId: "G-JEFSJZFET6"t 

VITE_MAPBOX_ACCESS_TOKEN=pk.eyJ1IjoiZHJlYWdhbjg2MDIiLCJhIjoiY205bGhrOTFiMDR4ajJpbzh5b210ZXZubCJ9.i57GBFX0fmc2Hu6-tU-C9A